@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

//* tipografia
$lora: "Lora", serif;
$roboto: "Roboto", sans-serif;


//* colores
$grey-dark:#ddd;
$grey: #ebe3e3;
$white: #fff;
$black: #000;

$blue-royal: #2e2be9;
$turquoise: #73d9f0;
$amber: #f7b301;
$red-orange: #eb773e;
